@charset "utf-8";

body {
    background: black;
    font-size: 80%;
    padding: 05px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  .main {
    position: relative;
    background: black;
    height: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1px;
    resize: both;
    overflow: visible;
    border: 1px solid teal;
  }
  
  .main div {
    background: black;
    
    width: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    resize: both;
    overflow: auto;
    border: 1px solid #1899D6;
  }


  .footer {
    text-align: center;
    padding: 3px;
    background-color: none;
    color: white;
  }
 
/* btn-1 */

.btn-1 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  vertical-align:bottom;
}

.btn-1:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* .btn-1:main,
.btn-1:focus {
  user-select: auto;
}
 */
.btn-1:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-1:disabled {
  cursor: auto;
}

.hide{
  color: black;
}
.splash{
  color: black;
}
